<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="static/homepage.css">
</head>

<body>
    <div class="Header flex">
        <h1>Groupie Tracker</h1>
    </div>
    <div class="Artist">
        <h2>Artists</h2>
        <div class="all-Card flex">
            {{range .}}
            <div class="card flex">

                <img src="{{.Image}}" alt="{{.Name}}" width="200">
                <h3>{{.Name}}</h3>
                <a href="/artist?id={{.ID}}">View details</a>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>