<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/styles/General.css">
    <link rel="stylesheet" href="./../assets/styles/StyleHome.css">
</head>
<body>
    <div class="Header flex">
         <h1>Groupie Tracker</h1>
    </div>
    <div class="Artist">
        <h2>Artest</h2>
        <div class="all-Card flex">
            <div class="card flex">
                <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>
            <div class="card flex">
                <img src="https://as1.ftcdn.net/v2/jpg/03/57/72/24/1000_F_357722494_G5VDO0zh43iCMx1Ej2orsZEqzXB3EhrK.jpg" alt="">
                <h3>Amine</h3>
                <a href="">details more</a>
            </div>

        </div>
    </div>
</body>
</html>